.layout {
    background-image: url(../../../public/PrimaryPrinter.png);
    background-size: cover; 
    background-position: center;
}

.layout__container {
    padding: 3.5rem 3.5rem; 
    padding-bottom: 11.5rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .layout__container {
        padding: 1.5rem 1.5rem;
    }
}   

@media (max-width: 767px) {
    .layout__container {
        height: 60vh;
        padding: 0.2rem 0.4rem;
        padding-bottom: 1rem;
    }
}