.yellowPrinter {
    background-image: url(../../../public/YellowPrinter.png);
    background-size: cover; 
    background-position: center;
}

.yellowPrinter__container {
    padding: 3.5rem 3.5rem; 
    padding-bottom: 14rem;
}
