.application__container {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding: 1rem 3.5rem;
}
 
.application__text--title {
    font-size: 2.35rem;
    text-transform: uppercase;
    font-weight: 400;
    white-space: nowrap; 
    margin-right: 15rem;
    padding: 0.5rem 0;
}

.application__text--description {
    width: 100rem;
    font-size: 1rem;
}

.application__text--description p {
    margin-bottom: 1rem;
    color: rgb(206, 206, 206);
    font-size: 1.25rem;
}

.application__text--description ul {
    list-style: none;
    padding-left: 1.5rem;
}

.application__text--item {
    margin-bottom: 0.5rem;
    position: relative;
}

.application__text--item::before {
    content: '•'; 
    color: var(--primary-color); 
    font-size: 1.2rem; 
    position: absolute;
    left: -1.5rem; 
}

.application__text-list {
    color: rgb(206, 206, 206);
    display: flex;
    justify-content: space-between;
}

.cards {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    padding: 1rem 3.5rem;
}

.card {
    width: 420px;
    height: 450px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    text-align: left;
}

.printer__blue {
    height: 589px;
}

.card__image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex: 1;
}

.card__image {
    max-width: 100%;
    height: auto;
}

.card__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card__content h2 {
    font-weight: 350;
    margin-bottom: 0.5rem;
}

.card__content a {
    color: white;
    margin-bottom: 0.3rem;
}

.card__content__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__button {
    border: 2px solid var(--primary-color);
    text-decoration: none;
    background: transparent;
    color: white;
    border-radius: 2em;
    cursor: pointer;
    padding: 0.6rem 2.5rem;
    font-size: 1.05rem;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.card__button:hover {
    background-color: var(--primary-color);
    color: white;
}
