.footer {
    width: 100vw;
    height: 50vh;
    background-image: url(../../../public/footerBackground.png);
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 450;
}

.primary {
    color: var(--primary-color);
    margin-top: 7rem;
    margin-bottom: -1.8rem;
}

.footer__contacts {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}

.footer__contact {
    display: flex;
    align-items: center;
}

.footer__contact p {
    font-size: 2rem;
    margin-left: 1rem; 
}

.footer__icon {
    font-size: 2rem; 
}
