.vlare__container {
    width: 100vw;
    padding: 3.5rem;
    display: flex;
    justify-content: space-between;
    background: hsla(0, 2%, 9%, 1);
}

.vlare__left {
    width: 45%;
}

.vlare__title--yellow {
    margin-top: 8cqh;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: relative;
    color: transparent; 
    -webkit-text-stroke: 2px var(--yellow-color); 
}

.vlare__description {
    color: hsla(0, 0%, 81%, 1);
    font-size: 1.3rem;
    margin-bottom: 5rem;
}

.vlare__right {
    display: flex;
    justify-content: center;
    align-items: center;
}
